body{
    background-color: burlywood;
    font-family:'Gill Sans';

}
#Titulo{
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 10px 10px black;
}
#ImagenPrincipal{
    height: 500px ;
    margin-left: 37%;
    box-shadow: 5px 5px 10px black;
}
#Boton{
    font-family: 'Gill Sans';
    font-size: 20px;
    text-shadow: 6px 5px 9px rgb(0, 0, 0);
    background-color: rgb(145, 171, 17);
    margin-left: 45%;
    height: 50px;
    width: 200px;
}
#Boton:active{
    color:gold;
    background-color: rgb(145, 171, 17);
    
}
#Boton:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(145, 171, 17);
}
.ImagenTobiAventura{
    height: 500px ;
    margin-left: 70px;
    box-shadow: 5px 5px 10px black;
}
.Boton2{
    font-family: 'Gill Sans';
    font-size: 20px;
    text-shadow: 6px 5px 9px rgb(0, 0, 0);
    background-color: rgb(145, 171, 17);
    height: 50px;
    width: 300px;
}
.Boton2:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(145, 171, 17, 0.568);
}
.Boton2:active{
    color:gold;
    background-color: rgb(145, 171, 17);
    
}
.Dead{
    margin-top: 100px;
    text-align: center;

}
.BotonBack{
    font-family: 'Gill Sans';
    font-size: 20px;
    text-shadow: 6px 5px 9px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 180px;
}
#BotonDead:active{
    color:gold;
    background-color: rgb(145, 171, 17);
    
}
#BotonDead:hover{
    color:rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.801);
}
#BodyAventura3{
    text-align: center;
}